body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #ff9494;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Font chữ dễ thương */
}

.button {
  padding: 8px 15px; /* Kích thước nút nhỏ hơn */
  font-size: 18px; /* Cỡ chữ vừa phải */
  font-family: "Comic Sans MS", cursive, sans-serif; /* Font chữ dễ thương */
  margin: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
  cursor: pointer;
}